body{
	color:#666;
	background:#eee;
	font-family:'helvetica neue', helvetica, "lucida grande", arial, sans-serif;
	font-size:90%;
	line-height:1.5em;
}

#container{
	width:600px;
	margin:0 auto;
}

#flash{
	color:#766;
	background:#ee6;
	padding:0 10px;
}

label{
	display:block;
}

input{
	display:block;
	margin:.5em;
}
